FANDANGO_BASE_URL=https://www.fandango.com
FANDANGO_USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.4 Safari/605.1.15
FANDANGO_REQUEST_TIMEOUT_MS=15000

# Odyssey poller notifications
GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
ALERT_EMAIL_TO=you@gmail.com
SMS_TO=1234567890@tmomail.net
